@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
ul {
    list-style-type: none;
}
ul a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

/* --------------- Navbar ---------------- */
.navbar {
    background: rgb(231, 226, 221);
    }

    .nav-center {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
    .logo {
        height: 70px;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        color: var(--primaryColor);
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        display: block;
        padding: 0.5rem 1rem;
        transition:var(--mainTransition);
    }
    .links a:hover {
        color: var(--mainBlack);
        padding-left: 1.5rem;
    }

    @media (max-width: 700px) {
        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: -6rem;
        }
        .links a{
            font-size: 0.8rem;
        }
        .logo {
            height: 50px;
        } 
    }

.nav-icon {
    font-size: 1.5rem;
}

.nav-icon a {
    color: var(--primaryColor);
}

.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 3px;
    border-radius: 30%;
    color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ----------------*/ 
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url(https://i.postimg.cc/pXRxV4s1/pexels-lukas-616415.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: overlay;
    max-width: calc(100% - 100px);
    margin: 0 auto;
}
.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1.8rem;
}
.banner-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
.banner-btn {
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    text-decoration: none;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

@media (max-width: 700px){
    .hero{
        height: 60vh;
    }
    .banner{
        padding: 1.5rem;
        width: 450px;
    }
    .banner-title{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .banner-btn {
        padding: 0.75em 1.2em;
    }
}

@media (max-width: 450px) {
    .hero {
        height: 40vh;
        max-width: calc(100% - 30px);
    }

    .banner {
        width: 300px;
    }

    .banner-title {
        font-size: 1.5rem;
    }
}

.checkout-form {
    text-align: left;
}
.checkout-form p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

.checkout-btn {
    padding: 1rem 3.5rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}
.checkout-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.return-btn {
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    text-decoration: none;
    margin-top: 1.5rem;
}
.return-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.checkout-form-info{
    text-align: center;
}

.form-hidden {
    display: none;
}

.form-field.success input {
    border-color:var(--color-success);
}

.form-field.error input {
    border-color:var(--color-error);
}
/* --------------- End of Hero ----------------*/ 

/* --------------- Cart ----------------*/ 
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--mainWhite);
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
/*---------- Cart Item --------------------*/ 
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
/*---------- End of Cart Item --------------------*/ 

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.cart-footer p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

/* --------------- End of Cart ----------------*/ 

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.img-container {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    color: var(--mainWhite);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}
.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}

@media (max-width: 450px) {
    .section-title h2 {
        font-size: 1.8rem;
    }
}

/* ---------------end of Products ---------------- */

/*-----------footer------------*/
.footer {
    background-color: #33383c;
}
.footer-banner { 
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.postimg.cc/43LhFPGR/pexels-quang-nguyen-vinh-2135677-2.jpg) center/cover no-repeat;
    padding: 3rem 0;
}
.footer-banner {
    color: #fff;
    text-align: center;
}
.footer-banner h2 {
    font-size: 2.4rem;
    padding-bottom: 1rem;
}
.footer-banner p {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2em;
}
.envelope {
    font-size: 3rem;
    color: var(--mainGrey);
    padding-bottom: 1.5rem;
}
.envelope:hover {
    color: #626a6a;
}
footer > .footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
.social-icons a {
    color: #626a6a;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    transition: var(--mainTransition);
}
.social-icons a:hover {
    color: var(--mainWhite);
}


@media (max-width: 450px) {
    .footer-banner p {
        padding: 1.5em;
        font-size: 1.25rem;
    }
}
/*-----------end of footer------------*/

